@use '../../styles/abstracts/index' as abstracts;

.location {
    &__details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        max-width: 1240px;
        margin: 30px auto 0 auto;

        @media screen and (max-width: abstracts.$breakpoint-md) {
            flex-direction: column;
            margin-top: 22.5px;
        }

        @media screen and (max-width: abstracts.$breakpoint-sm) {
            margin-top: 15px;
        }
    }

    &__infos {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;

        &--title {
            color: abstracts.$primary-color;
            font-size: 36px;
            font-weight: 500;
            margin-bottom: 0;

            @media screen and (max-width: abstracts.$breakpoint-md) {
                font-size: 27px;
            }

            @media screen and (max-width: abstracts.$breakpoint-sm) {
                font-size: 18px;
            }
        }

        &--situation {
            font-size: 18px;
            font-weight: 500px;
            margin-top: 0;
            margin-bottom: 20px;

            @media screen and (max-width: abstracts.$breakpoint-md) {
                font-size: 16px;
            }

            @media screen and (max-width: abstracts.$breakpoint-sm) {
                font-size: 14px;
            }
        }

        &--tags {
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 10px;
            margin-bottom: 24px;

            @media screen and (max-width: abstracts.$breakpoint-md) {
                flex-wrap: wrap;
                margin-bottom: 16px;
            }
        }

        &--tag {
            width: 100%;
            min-width: 105px;
            max-width: 165px;
            height: 25px;
            display: flex;
            justify-content: center;
            background-color: abstracts.$primary-color;
            border-radius: 10px;
            color: white;
            font-size: 14px;
            font-weight: 700;

            @media screen and (max-width: abstracts.$breakpoint-md) {
                height: 21.5px;
                font-size: 12px;
            }

            @media screen and (max-width: abstracts.$breakpoint-sm) {
                max-width: 85px;
                height: 18px;
                font-size: 10px;
            }
        }
    }

    &__aside {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: auto;
        
        @media screen and (max-width: abstracts.$breakpoint-md) {
            flex-direction: row-reverse;
            width: 100%;
            margin-bottom: 13px;
        }

        &--host {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            gap: 10px;
            margin-bottom: 21px;

            @media screen and (max-width: abstracts.$breakpoint-md) {
                margin-bottom: 0;
            }
        }

        &--hostname {
            color: abstracts.$primary-color;
            font-size: 18px;
            font-weight: 500;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            text-align: right;
            width: 50px;

            @media screen and (max-width: abstracts.$breakpoint-md) {
                font-size: 15px;
            }

            @media screen and (max-width: abstracts.$breakpoint-sm) {
                font-size: 12px;
            }
        }

        &--photo {
            width: 64px;
            height: 64px;
            border-radius: 50%;

            @media screen and (max-width: abstracts.$breakpoint-md) {
                width: 48px;
                height: 48px;
            }

            @media screen and (max-width: abstracts.$breakpoint-sm) {
                width: 32px;
                height: 32px;
            }
        }

        &--rating {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            img {
                width: 36px;
                height: 36px;

                @media screen and (max-width: abstracts.$breakpoint-md) {
                    width: 27px;
                    height: 27px;
                }

                @media screen and (max-width: abstracts.$breakpoint-sm) {
                    width: 18px;
                    height: 18px;
                }
            }
        }
    }

    &__collapses {
        // width: 100%;
        max-width: 1240px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 76px;

        @media screen and (max-width: abstracts.$breakpoint-md) {
            grid-template-columns: 1fr;
            gap: 20px;
        }

        & text {
            display: flex;
            flex-direction: column;
        }
    }
}