@use '../../styles/abstracts/index' as abstracts;

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 210px;
    height: 68px;

    @media screen and (max-width: abstracts.$breakpoint-md) {
        width: 177.5px;
        height: 57px;
    }

    @media screen and (max-width: abstracts.$breakpoint-sm) {
        width: 145px;
        height: 46px;
    }
}

nav a {
    color: black;
    font-weight: 500;
    font-size: 24px;
    padding-left: 57px;
    text-decoration: none;
    text-transform: capitalize;

    @media screen and (max-width: abstracts.$breakpoint-md)  {
        font-size: 18px;
        padding-left: 41.5px;
        text-transform: uppercase;
    }

    @media screen and (max-width: abstracts.$breakpoint-sm)  {
        font-size: 12px;
        padding-left: 26px;
    }
}

.linkHome.active, .linkAbout.active {
    text-decoration: underline;
}