@use '../../styles/abstracts/index' as abstracts;

.gallery {
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1240px;
    aspect-ratio: 2.98;
    border-radius: 25px;
    overflow: hidden;

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__prev, &__next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 24px;
        color: white;
        background-color: transparent;
        border: none;
        cursor: pointer;
        transition: transform 0.3s ease, filter 0.3s ease;

        &:hover {
            transform: translateY(-50%) scale(1.06);
            filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3));
          }
        
        @media screen and (max-width: abstracts.$breakpoint-md) {
            width: 24px;
        }
        
        @media screen and (max-width: abstracts.$breakpoint-sm) {
            width: 12px;
        }
    }

    &__prev {
        left: 20px;

        @media screen and (max-width: abstracts.$breakpoint-md) {
            left: 12.5px;
        }

        @media screen and (max-width: abstracts.$breakpoint-sm) {
            left: 5px;
        }
    }

    &__next {
        right: 20px;

        @media screen and (max-width: abstracts.$breakpoint-md) {
            right: 12.5px;
        }

        @media screen and (max-width: abstracts.$breakpoint-sm) {
            right: 5px;
        }
    }

    &__counter {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        color: #fff;
        font-size: 18px;
      }
}