.banner {
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    max-width: 1240px;
    max-height: 223px;
    border-radius: 25px;
    overflow: hidden;

    @media screen and (max-width: $breakpoint-xl) {
        height: 17.89vw;
        min-height: 111px;
        margin: 0 45px;
    }

    @media screen and (max-width: $breakpoint-md) {
        margin: 0 20px;
        
    }

    &--large {
        height: 415px;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    
        &--darken {
          filter: brightness(0.4);
        }
    }

    &__text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        overflow: hidden;
        text-overflow: ellipsis;     // ✅ ajoute "..." si le texte est trop long
        max-width: 85%;
        z-index: 1;
        color: white;
        font-size: 48px;
        font-weight: bold;
        text-shadow: 
            -1px 0 black,          // ➡️ Bordure sur le côté droit du texte
            1px 0 black,           // ⬅️ Bordure sur le côté gauche du texte
            0 -1px black,          // ⬇️ Bordure en bas du texte
            0 1px black,           // ⬆️ Bordure en haut du texte
            0px 4px 4px rgba(0, 0, 0, 0.25);
        
        @media screen and (max-width:$breakpoint-lg) {
            font-size: 36px;
        }

        @media screen and (max-width:$breakpoint-md) {
            font-size: 24px;
        }
    }
}