@use '../abstracts/index' as abstracts;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
}
  
body {
    font-family: 'Montserrat', sans-serif;
    // font-size: $font-size-base;
    background-color: abstracts.$background-color;
    color: abstracts.$text-color;
    line-height: 1.6;
}

a {
    color: abstracts.$text-color;
    text-decoration: none;
}